@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display-swap';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-text: #86ddff;
    --dark-blue: #f48b0c;
    --mid-blue: #eee9e6;
}

html {
    font-family: 'Montserrat' , sans-serif;
    background-color: #46474b;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}


/* NAVBAR SECTION */

.arrowup {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    color: #f48b0c;
    
}

#nav {
    background-color: #46474b;
    z-index: 0;
}

#mobile-nav {
    display: none;
}


.nav-bar {
    position: absolute;
    z-index: 0;
    width: 100%;
}

ul {
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    padding: 0 10%;
    list-style: none;
    height: 7vh;
    opacity: 100%;

}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5rem;
}

#name {
    color: var(--dark-blue);
    font-size: 30px;
    font-weight: bold;
}

/* HERO SECTION */

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(90, 90, 90, 0.7);
    z-index: 1;
}

.container {
    position: relative;
    height: 105vh;
    width: 100%;
    overflow: hidden;
}

.image-container {
    position: relative;
    background-image: url('../images/paul-hanaoka-4ZaH0DGGomI-unsplash.jpg');
    background-image: flip;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin-top: 0vh;
    animation: scale 15s;
}

@keyframes scale {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.hero-text {
    display: flex;
    justify-content:left;
    align-items:stretch;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    z-index: 2;

}

.hero-text2 {
    display: flex;
    justify-content:left;
    align-items:stretch;
    flex-direction: column;
    position: absolute;
    top: 70%;
    left: 10%;
    margin-right: 10%;
    font-size: 40px;
    color:white;
    z-index: 2;

}


.firstWord {
    color: var(--dark-blue);
}

.resume-cta {
    border: 2px solid white;
    width: 165px;
    height: 60px;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
}

.resume-cta {
    color: white;
    font-size: 30px;
    margin-left: 5px;
    display: flex;
    text-align: left;
}

.resume-cta:hover {
    background-color: rgb(104, 104, 104) ;
}



/* PROJECTS SECTION*/

.project-container {
    width: 100%;
    height: auto;
    padding: 100px;
    background-color: #eee9e6;
}

.project-header {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    color: #46474b;
}

.projects {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.project-item {
    display: flex;
    flex-direction: row;
}

.office-project {
    padding: 10px;
    width: 400px;
    height: 400px;
    background: white;
    position: relative;
    box-shadow:-15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url('../images/Lemonade\ Stand\ Context\ 1.jpg');
    background-size: cover;
    background-position: center;

}

.store-project {
    padding: 10px;
    width: 400px;
    height: 400px;
    background: white;
    position: relative;
    box-shadow:-15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url('../images/pro\ con\ context\ 1.jpg');
    background-size: cover;
    background-position: center;

}

.sports-project {
    padding: 10px;
    width: 400px;
    height: 400px;
    background: white;
    position: relative;
    box-shadow:-15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url('../images/locals\ only\ context.jpg');
    background-size: cover;
    background-position: center;

}

.text-container {
    position: absolute;
    height: 75px;
    width: 100%;
    z-index: 2;
    left: 0;
    bottom: 0;
    background-color: #eee9e6;
    overflow: hidden;
    padding: 10px;

}

.text-container:hover {
    height: 250px;
}

.name {
    margin-top: 10px;
    color: var(--dark-blue);
    font-size: 2rem;
}

.content {
    padding: 15px 0;
    color: black;
    margin-top: 20px;
}

.button {
    width: 160px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 40px;
    background-color: #1c232d;
}

h3 {
    color: rgb(255, 255, 255);
}


.project-header3 {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px; 
    color: var(--dark-blue);
    
}

.project-header3:hover {
    text-decoration: underline;
}


/* ABOUT SECTION */

.more-skills {
    background-color: none;
    height: auto;
    width: 500px;
    font-size: 1.5rem;
    display: inline-block;
    text-align: left;
    padding: 30px;
    color: rgb(255, 255, 255)}

  #useful-skills {
    background-color: #eee9e6;
    padding: 10px;
    width: auto;
    height: auto;
    background: #46474b;
    position: relative;
    box-shadow:-15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-left: .1em;}

.skills-list {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    position: relative;
}

.skills-list:before {
    content: '';
    left: -1.5em;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('../images/Done.svg');
    background-size: contain;
    margin-right: .5em;
}

.project-header2 {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding: 50px;
    color: #eee9e6;
}

.about-container {
    margin: 10%;
    width: 80%;
    height: auto;
    background-color: #46474b;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

.about-image {
    height: 300px;
    width: 300px;
    background-image: url('../images/Avatar.jpeg');
    background-size: cover;
    background-position: center;
    margin: 20px;
    border-radius: 10px;
}

.about-text {
    height: auto;
    color: white;
    width: 40%;
    font-size: 1.5rem;
    margin-left: 100px;
    padding: 10px;

}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    width: 30%;
    margin: 25% 35%;
    padding-top: 10%;
}

.button {
    display: flex;
    background-color: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    text-align:center;
    justify-content: center;
    width: auto;
    color: black;

  }

  .header {
    padding: 20px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 5px;
  }
  
  .header.close:after {
    content:"Read Less";
    font-size: 2rem;
  }

  .header:after {
    content:"Read More";
    font-size:2rem;
    color: var(--dark-blue);
  }

  .content-skills {
      text-align: center;
      display: none;
      padding: 10px;
  }

  .content-skills2 {
    text-align: center;
    padding: 10px;
}

  .more-about {
    background-color: none;
    height: auto;
    width: 60%;
    font-size: 1.5rem;
    display: inline-block;
    text-align: left;
    margin: auto;
    color: white;

  }



/* MOBILE SECTION */

@media (max-width: 768px) {

    #nav {
        display: none;
    }

    #mobile-nav {
        display: block;
    }

    .mobile-nav-bar {
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 5;

    }

    .nav-icon {
        display: flex;
        padding: 13%;
    }

    ul {
        background-color: rgba(0, 0, 0, 0.5);
    }


    .office-project {
        padding: 10px;
        width: 250px;
        height: 400px;
        background: white;
        position: relative;
        box-shadow:-15px 7px 30px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        margin: 50px;
        background-image: url('../images/Lemonade\ Stand\ Context\ 1.jpg');
        background-size: cover;
        background-position: center;
    
    }

    .store-project {
        padding: 10px;
        width: 250px;
        height: 400px;
        background: white;
        position: relative;
        box-shadow:-15px 7px 30px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        margin: 50px;
        background-image: url('../images/pro\ con\ context\ 1.jpg');
        background-size: cover;
        background-position: center;
    
    }
    
    .sports-project {
        padding: 10px;
        width: 250px;
        height: 400px;
        background: white;
        position: relative;
        box-shadow:-15px 7px 30px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        margin: 50px;
        background-image: url('../images/locals\ only\ context.jpg');
        background-size: cover;
        background-position: center;
    
    }

    .project-header3 {
        display: flex;
        text-align: center;
    }
    

    .text-container:hover {
        height: 350px;
    }

    .text-container {
        position: absolute;
        height: 105px;
        width: 100%;
        z-index: 2;
        left: 0;
        bottom: 0;
        background-color:  #eee9e6;
        overflow: hidden;
        padding: 20px;
    
    }

    .about-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#46474b;
        height: 600px;
        box-shadow:-15px 7px 30px rgba(0, 0, 0, 0.2);
    }

    .about-image {
        margin-top: 20px;
        height: 300px;
        width: 225px;
        background-image: url('../images/Avatar.jpeg');
        background-size: cover;
        background-position: center;
    }

    .about-text {
        margin-left: 20px;
        width: 100%;
        font-size: 1.2rem;
    }

    .social-icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2rem;
        width: 30%;
        margin: 25% 35%;
        padding-top: 30%;
    }
    .more-about {
        background-color: none;
        height: auto;
        font-size: 1.2rem;
        width: 80%;
        display: inline-block;
        text-align: left;
        margin: auto;
    
      }
      .arrowup { 
          display: none;
        
    }
}

